---
import LogoPhoto from './Images/LogoPhoto.jpeg'
---

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">

    <img 
    class="rounded-full w-10 h-14 " 
    src={LogoPhoto.src} 
    alt="Uriel castillo photo"/>

<nav class="text-white flex flex-row gap-x-10 opacity-90">
 
    <a href="#home">Home</a>
    <a href="#projects">Projects</a>
    <a href="#about">About Me</a>
   
</nav>
</header>
